/* COLOR VARIABLES */
:root {
    --professional-blue: #5D769A;
    --background: #F1F0EB;
}

/* TYPOGRAPHY */
h1 {
    font-family: "DM Serif Display", serif;
}

h2,
p,
td,
li,
button,
a {
    font-family: "DM Sans", sans-serif;
}

/* STRUCTURE */
body {
    background-color: var(--background) !important;
    padding: 1em 3em;
}

div,
p {
    line-height: 1.6em;
}


.btn {
    border: 1px solid black !important;
    padding: 0.5em 2em !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#home .btn {
    width: 100px;
}

.btn .material-symbols-outlined {
    font-size: 35px !important;
}

.btn:hover {
    border: none !important;
    background-color: var(--professional-blue) !important;

    .material-symbols-outlined {
        color: white !important;
    }
}

/* NAV */
nav {
    background-color: var(--background);
}

nav a {
    font-family: "DM Serif Display", serif;
    font-size: 25px !important;
    padding: 0 0.5em !important;
}

.active,
nav a:hover {
    color: var(--professional-blue) !important;
}

.navbar-nav {
    gap: 0.5em !important;
    align-items: center !important;
}

/* HOME */
#home header {
    margin: 9em auto 10.5em;
    text-align: center;
}

#home header h2 {
    font-size: 20px;
}

#home header h1 {
    font-size: 80px;
}

#home header p {
    font-size: 20px;
    margin: 2.5em 0;
}

@media (min-width: 510px) {
    #home header {
        width: 73%;
    }

    #home header h2 {
        font-size: 20px;
    }

    #home header h1 {
        font-size: 100px;
    }
}

/* HOME: About Me */
#home article {
    padding: 1em 0;
    margin: 0 1em;
    display: block;
}

#home article h2 {
    font-family: "DM Serif Display", serif;
}

#home article img {
    width: 70%;
    display: block;
    margin: 0 auto 2em;
}

#home .tag {
    font-style: italic;
    padding: 1em 0;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    text-align: center;
    font-weight: bold;
}

#home article div {
    /* padding: 0 3em; */
    width: 100%;
}

@media (min-width: 835px) {
    #home article {
        padding: 1em 4em;
        margin: 0 4em;
        display: block;
    }
}

@media (min-width: 1090px) {
    #home article {
        margin-top: 2em;
        display: flex;
        gap: 2em;
        align-items: center;
    }

    #home article img {
        width: 40%;
    }

    #home article div {
        width: 60%;
    }
}

/* EXPERIENCE */
#experience header {
    margin: 2em auto;
    text-align: center;
}

#experience header h1 {
    font-size: 47px;
}

#experience {
    padding: 1em;
}

@media (min-width: 510px) {

    #experience header h1 {
        font-size: 100px;
    }
}

#experience .btn {
    width: 200px;
}

#experience .container {
    padding: 1em 0;
    margin: 0 auto;
}

@media (min-width: 576px) {
    #experience .container {
        padding: 1em 3em;
    }
}

#experience .container h2 {
    margin-bottom: 0;
}

#experience .container h3 {
    margin-top: 10px;
}

.exp-card {
    border-left: 5px solid black;
    margin: 3em 0;
    padding: 0 2em;
}

.exp-card h2 {
    font-family: "DM Serif Display", serif;
}

.exp-tag {
    font-style: italic;
    border-bottom: 1px solid black;
}

/* PROJECTS */
#projects header,
#project-details header,
#fun-facts header {
    margin: 2em auto;
    text-align: center;
}

#projects header h1,
#project-details header h1,
#fun-facts header h1 {
    font-size: 47px;
}

@media (min-width: 510px) {

    #projects header h1,
    #project-details header h1,
    #fun-facts header h1 {
        font-size: 100px;
    }
}

#projects .container {
    padding: 0 !important;
    margin: 0 auto;
}

#projects .container a {
    text-decoration: none;
    color: black;
}

.project-card {
    background-color: #cfd4db;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    border-radius: 4px;
    width: 100%;
    padding: 1em;
}

.project-card h2 {
    font-family: "DM Serif Display", serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #projects .container {
        padding: 0 4em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2em;
    }

    .project-card {
        width: 450px;
    }
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* PROJECT DETAILS */
#project-details .project-info {
    padding: 1em 0;
    margin: 0 auto;
}

@media (min-width: 576px) {
    #project-details .project-info {
        padding: 1em 3em;
    }
}

.details-tag {
    font-weight: bold;
}

figure {
    width: 95%;
    margin: 1em auto !important;
    text-align: center;
    font-size: 1em;
}

figure img {
    width: 90%;
}

@media (min-width: 576px) {
    figure {
        width: 80%;
        margin: 3em auto !important;
        text-align: center;
        font-size: 1em;
    }
}

.bloom-link {
    width: 250px;
}

.bloom .btn {
    margin: 0 0 !important;
    width: 250px;
    margin-bottom: 1em !important;
}

/* FUN FACTS */
#fun-facts .container {
    padding: 1em 0 !important;
}

.fact {
    border-bottom: 1px solid black;
    padding: 0.5em 0 0;
}

@media (min-width: 576px) {
    .fact {
        margin: 0 4em;
        border-bottom: 1px solid black;
    }
}

.fact img {
    display: block;
    margin: 2em auto;
    width: 70%;
}

.fact-flex {
    display: block;
}

.last-fact {
    border-bottom: none;
}


@media (min-width: 1300px) {
    .fact-flex {
        display: flex;
        justify-content: space-around;
    }

    .fact-flex .fact-text {
        width: 50%;
    }

    .fact img {
        width: 500px;
    }
}


/* FOOTER */
footer {
    margin: 1em 0 0;
    padding: 3em 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style-type: none;
    margin-bottom: 0;
}

footer h3 {
    font-family: "DM Serif Display", serif;
    margin-top: 0;
    margin-bottom: 0;
}

footer ul {
    margin-right: 0;
    text-align: center;
    padding-left: 0 !important;
}

footer ul li {
    font-family: "DM Serif Display", serif;
    margin-bottom: 0.5em;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: var(--professional-blue);
}

.bi {
    margin: 1em 0.5em 0;
}

.bi-github {
    margin-right: 0;
}

.contact {
    text-align: center;
    margin-top: 1em;
}

@media (min-width: 576px) {
    footer {
        margin: 1em 4em 0;
        padding: 3em 0;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    footer ul {
        margin-right: 0;
        text-align: left;
    }

    .contact {
        text-align: end;
    }
}

.contact .email {
    margin-top: 0.5em;
    display: block;
}